<div class="row">
	<div class="col-lg-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Patients</h4>
			</div>
			<div class="panel-body" style="height: 300px">
				<table class="table table-hover ">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-click="selectPatient(patient)" ng-repeat="patient in mypatients">
							<td style="cursor: pointer;">{{patient.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Measurements</h4>
			</div>
			<div class="panel-body">
				<div id="chartContainer" style="width: 100%; height: 270px"></div>
			</div>
			
			<div>
				<h4>Notifications: </h4>
				<ul style="list-style-type : none">
					<li ng-repeat="note in notifications">
						<img alt="sign" src="../images/sign-{{note.priority}}.png"> {{note.message}} @ {{note.time | date:'yyyy-MM-dd HH:mm:ss'}} 
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Vital signs</h4>
			</div>
			<div class="panel-body">
				<form class="form">
					<label style="font-size:11px" ng-repeat="(mdcId,value) in vitalSigns"> <input type="radio" name="vitalsigngroup" ng-model="$parent.selectedVitalSign"
						ng-value="value" />{{value.name}}
					</label>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="errorModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Error</h4>
			</div>
			<div class="modal-body">
				<h4 ng-bind="errorMessage"></h4>
			</div>
		</div>
	</div>
</div>